body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  position: absolute;
  right: 50px;
}
nav{
  position: absolute;
  left: 20px;
  top:50px;
  padding-top: 50px;
}

.navitems{
  padding: 30px;
   display: block;
  margin-left: 10px;
}
.centre{
  padding-top: 300px;
  padding-left: 500px;
}
h1{
  padding-left: 50%;
}
